<div class="content mat-app-background" fxLayout="column" fxLayout.xs="column" fxLayoutGap="16px">
  <h1>About Us</h1>
  <mat-card class="card">
    Little back story on who we are, we are a small group of friends that met online playing games together and have
    grown
    an increasingly strong bond. We all share the common goal of escaping the 9-5 jobs that drain you and ruin your
    mind set. We realized that within our group we had the skills and talents to start something we love. An online
    business,
    we all have a passion for wanting to be involved in something like this. We want to provide people with high
    quality
    products while keeping things affordable. The idea behind the name is that Outrance is the opposite of entrance, so
    with that it is pointed toward the being the Outrance to the 9-5 job we all know.
  </mat-card>
</div>
