<!-- Footer -->
<footer class="page-footer font-small black darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div fxLayout="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!--    email-->
          <a class="ins-ic" href="mailto:outranceapparel@gmail.com" target="_blank">
            <mdb-icon far icon="envelope" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>

          <!--          &lt;!&ndash; Facebook &ndash;&gt;-->
          <!--          <a class="fb-ic" href="https://www.facebook.com/OutranceApparel" target="_blank">-->
          <!--            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>-->
          <!--          </a>-->

          <!-- Twitter -->
          <a class="tw-ic" ref="https://www.twitter.com/outranceapparel/" target="_blank">
            <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>

          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/outranceapparel/" target="_blank">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>

          <!--Patreon-->
          <a class="ins-ic" href="https://www.patreon.com/OutranceApparel" target="_blank">
            <mdb-icon fab icon="patreon" size="2x" class="white-text  "></mdb-icon>
          </a>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://www.OutranceApparel.com/"> OutranceApparel.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
