<div class="content mat-app-background" fxLayout="column" fxLayout.xs="column" fxLayoutGap="16px">
  <h1>An Experience Beyond Apparel</h1>
  <div fxLayout="row" fxLayoutGap="40px">
    <!--    <p>-->
    <!--      <a href="mailto:outranceapparel@gmail.com">outranceapparel@gmail.com</a>-->
    <!--    </p>-->

    <p>
      <a href="mailto:outranceapparel@gmail.com" target="_blank">
        <img alt='email' src="assets/img/emailIcon.png" size width="40" height="35">
      </a>
    </p>


    <p>
      <a href="https://www.instagram.com/outranceapparel/" target="_blank">
        <img alt='instagram' src="assets/img/instaWhiteLogo.png" size width="40" height="35">
      </a>
    </p>


    <p>
      <a href="https://www.twitter.com/outranceapparel/" target="_blank">
        <img alt='twitter' src="assets/img/2021 Twitter logo - white.png" size width="40" height="35">
      </a>
    </p>

    <p>
      <a href="https://www.patreon.com/OutranceApparel" target="_blank">
        <img alt='patreon' src="assets/img/Digital-Patreon-Logo_White.png" size width="40" height="35">
      </a>
    </p>


  </div>


  <div fxLayoutGap="40px">

    <img src="assets/img/OutranceTagV2.png"
         width="250"
         height="250">

    <img src="assets/img/OutranceLabel.png"
         width="250"
         height="250">


  </div>

  <div>

    <img src="assets/img/all-over-print-unisex-hoodie-white-back-616030ac5d378.png"
         width="250"
         height="250">
    <img src="assets/img/all-over-print-unisex-hoodie-white-right-616030ac5d529.png"
         width="250"
         height="250">


  </div>


</div>



